@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.textOfAbout{
    /* position: absolute;
    width: 1232px;
    height: 493px;
    left: 104px;
    top: 240px; */
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.03em;

    color: #000000;
}